.flex__center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5%;
    text-align: center;

}

.flex__column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5%;
    text-align: center;
}

.box__icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5%;

    img{
        height: 50%;
        width: 20%;
        margin: 2%;
    }

}