form{
    display: flex;
    flex-direction: column;
    justify-content: center;

    input{
        margin: 1%;

    }



}

.text_piba{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}