*{
   margin: 0%;
   padding: 0%;
   box-sizing: 0%; 
}

.principal-title{
    font-size: 50px;
    margin: 5px;
}

.principal-subtitle{
    font-size: 40px;
    margin: 5px;
}

.image-continer{
    width: 90%;
    height: 70%;
}

.header__logo{
    display: inline-block;
    width: 20%;
    height:  60%;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.icon__logo{
    width: 100px;
    height: 100px;
}

.carousel__titlefont{
    font-size: large ;
}

body {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cbccc8)) fixed;
  }